<!DOCTYPE html>
<html th:replace="~{_plantilla :: global(~{::title}, ~{::main})}"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>Administración</title>
</head>
<body>
	<main>
		<h1>Administración</h1>
		<div class="table-responsive">
			<table class="table table-hover table-striped table-bordered">
				<thead class="table-dark">
					<tr>
						<th><a class="text-white" href="#" th:href="'?sort=id' + ${ordenacion == 'id,ASC' ? ',DESC' : ',ASC'}">Id</a></th>
						<th><a class="text-white" href="#" th:href="'?sort=titulo' + ${ordenacion == 'titulo,ASC' ? ',DESC' : ',ASC'}">Título</a></th>
						<th><a class="text-white" href="#"
							th:href="'?sort=grupo.nombre' + ${ordenacion == 'grupo.nombre,ASC' ? ',DESC' : ',ASC'}">Grupo</a></th>
						<th><a class="text-white" href="#"
							th:href="'?sort=estilo.nombre' + ${ordenacion == 'estilo.nombre,ASC' ? ',DESC' : ',ASC'}">Estilo</a></th>
						<th>URL</th>
						<th>Opciones</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cancion: ${canciones}" th:object="${cancion}">
						<th th:text="*{id}">1</th>
						<td th:text="*{titulo}">La canción</td>
						<td th:text="*{grupo.nombre}">El grupo</td>
						<td th:text="*{estilo.nombre}">El estilo</td>
						<td th:text="*{url}">La URL</td>
						<td><a class="btn btn-primary" href="#"
							th:href="@{/usuarios/cancion/{id}(id=*{id})}">Editar</a> <a
							class="btn btn-danger" href="#"
							th:href="@{/usuarios/cancion/borrar/{id}(id=*{id})}">Borrar</a></td>
					</tr>
				</tbody>
				<tfoot class="table-dark">
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><a class="btn btn-primary" href="#"
							th:href="@{/usuarios/cancion}">Añadir</a></td>
					</tr>
				</tfoot>
			</table>
		</div>
		<nav aria-label="Paginación">
			<ul class="pagination">
				<li class="page-item"><a class="page-link" href="#"
					th:classappend="${paginacion.pageNumber == 0} ? disabled : ''"
					th:href="@{?page={num}&sort={ord}(num=${paginacion.pageNumber - 1},ord=${ordenacion})}">Anterior</a></li>
				<li th:each="n : ${#numbers.sequence( 0, totalPaginas)}"
					th:classappend="${paginacion.pageNumber == n} ? active : ''"
					class="page-item" aria-current="page"><a class="page-link"
					href="#"
					th:href="@{?page={num}&sort={ord}(num=${n},ord=${ordenacion})}"
					th:text="${n+1}">Número de página</a>
				<li class="page-item"><a class="page-link" href="#"
					th:classappend="${paginacion.pageNumber == totalPaginas} ? disabled : ''"
					th:href="@{?page={num}&sort={ord}(num=${paginacion.pageNumber + 1},ord=${ordenacion})}">Siguiente</a></li>
			</ul>
		</nav>
	</main>
</body>
</html>